[submodule "vim"]
	path = vim
	url = git@github.com:SmartReceipt/salt_vim.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:SmartReceipt/salt_nginx.git
[submodule "users"]
	path = users
	url = git@github.com:SmartReceipt/salt_users.git
[submodule "groups"]
	path = groups
	url = git@github.com:SmartReceipt/salt_groups.git
[submodule "hosts"]
	path = hosts
	url = git@github.com:SmartReceipt/salt_hosts.git
[submodule "iptables"]
	path = iptables
	url = git@github.com:SmartReceipt/salt_iptables.git
[submodule "logstash"]
	path = logstash
	url = git@github.com:SmartReceipt/salt_logstash.git
[submodule "chef"]
	path = chef
	url = git@github.com:SmartReceipt/salt_chef.git
[submodule "receipt"]
	path = receipt
	url = git@github.com:SmartReceipt/salt_receipt.git
[submodule "zookeeper"]
	path = zookeeper
	url = git@github.com:SmartReceipt/salt_zookeeper.git
[submodule "collectd"]
	path = collectd
	url = git@github.com:SmartReceipt/salt_collectd.git
[submodule "redis"]
	path = redis
	url = git@github.com:SmartReceipt/salt_redis.git
