[submodule "vim"]
	path = vim
	url = git@github.com:SmartReceipt/salt_vim.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:SmartReceipt/salt_nginx.git
[submodule "users"]
	path = users
	url = git@github.com:SmartReceipt/salt_users.git
[submodule "groups"]
	path = groups
	url = git@github.com:SmartReceipt/salt_groups.git
[submodule "hosts"]
	path = hosts
	url = git@github.com:SmartReceipt/salt_hosts.git
[submodule "iptables"]
	path = iptables
	url = git@github.com:SmartReceipt/salt_iptables.git
[submodule "logstash"]
	path = logstash
	url = git@github.com:SmartReceipt/salt_logstash.git
